@model u21650846_HW03.Models.CombinedViewModel
@using PagedList.Mvc
@using PagedList;
<div>
    <div class="row">
        <div class="col-md-6">
            <h3> Authors</h3>
            <div class="indi">
                <table class="table">
                    <tr>
                        <th> Name</th>
                        <th> Surname</th>

                    </tr>
                    @foreach (var item in Model.authors)
                    {
                        <tr>
                            <td> @item.name</td>
                            <td> @item.surname</td>
                        </tr>
                    }
                </table>
                <div class="pagination" id="student-pagination">
                    Page @(Model.authors.PageNumber) of @Model.authors.PageCount
                    @Html.PagedListPager(Model.authors, page => Url.Action("Maintain", new { authorPage = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h3>Genres </h3>
            <div class="indi">
                <table class="table">
                    <tr>
                        <th>Genre </th>

                    </tr>
                    @foreach (var item in Model.types)
                    {
                        <tr>
                            <td> @item.name</td>
                        </tr>
                    }
                </table>
                <div class="pagination" id="student-pagination">
                    Page @(Model.types.PageNumber) of @Model.types.PageCount
                    @Html.PagedListPager(Model.types, page => Url.Action("Maintain", new { typePage = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)

                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3> Borrow History</h3>
            <div class="indi">
                <table class="table table-striped">
                    <tr>
                        <th> Student Name</th>
                        <th> Book Title</th>
                        <th>Date Taken </th>
                        <th> Date Returned</th>

                    </tr>
                    @foreach (var item in Model.borrows)
                    {
                        <tr>
                            <td>
                                @item.students.name @item.students.surname
                            </td>
                            <td>
                                @item.books.name
                            </td>
                            <td>
                                @item.takenDate
                            </td>
                            <td>
                                @item.broughtDate
                            </td>
                        </tr>
                    }
                </table>
                <div class="pagination" id="student-pagination">
                    Page @(Model.borrows.PageNumber) of @Model.borrows.PageCount
                    @Html.PagedListPager(Model.borrows, page => Url.Action("Maintain", new { borrowPage = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)

                </div>
            </div>
        </div>
    </div>
</div>