@model u21650846_HW03.Models.CombinedViewModel
@using PagedList.Mvc
@using PagedList;

<div>
    <div class="">
        <div class="col-md-12">
            <h3> Students</h3>

            <p>
                <a href="#" class="create-link" data-url="@Url.Action("Create", "students")">Add Student</a>
            </p>
            <div class="indi">
                <table class="table">
                    <tr>
                        <th> Name </th>
                        <th> Surname </th>
                        <th> Birth Date</th>
                        <th> Gender </th>
                        <th> Class</th>
                        <th> Point</th>

                    </tr>
                    @foreach (var item in Model.students)
                    {
                        <tr>
                            <td>
                                @item.name
                            </td>
                            <td>
                                @item.surname
                            </td>
                            <td>
                                @item.birthdate
                            </td>
                            <td>
                                @item.gender
                            </td>
                            <td>
                                @(item.@class)
                            </td>
                            <td>
                                @item.point
                            </td>
                        </tr>
                    }
                </table>
                <div class="pagination" id="student-pagination">
                    Page @(Model.students.PageNumber) of @Model.students.PageCount
                    @Html.PagedListPager(Model.students, page => Url.Action("Index", new { studentPage = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)

                </div>
            </div>
        </div>

        <br />
        <br />
        <div class="col-md-12">
            <h3> Books</h3>

            <p>
                <a href="#" class="create-link" data-url="@Url.Action("Create", "books")">Add Book</a>
            </p>
            <div class="indi">
                <table class="table">
                    <tr>
                        <th> Author</th>
                        <th> Title </th>
                        <th> Page Count </th>
                        <th>Genre </th>
                        <th> Point</th>
                        <th> Status</th>
                    </tr>
                    @foreach (var item in Model.books)
                    {
                        <tr>
                            <td>
                                @item.authors.name @item.authors.surname
                            </td>
                            <td>
                                @item.name
                            </td>
                            <td>
                                @item.pagecount
                            </td>
                            <td>
                                @item.types.name
                            </td>
                            <td>
                                @item.point
                            </td>
                            <td id="Status">
                            </td>

                        </tr>
                    }
                </table>
                <br />
                <div class="pagination" id="book-pagination">
                    Page @(Model.books.PageNumber) of @Model.books.PageCount
                    @Html.PagedListPager(Model.books, page => Url.Action("Index", new { bookPage = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sample Async CRUD</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-content">
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {

            $(".edit-link, .edit-link-in-modal").click(function (e) {
                e.preventDefault();
                var url = $(this).data("url");

                $.get(url, function (data) {
                    $("#modal-content").empty();
                    $("#modal-content").html(data);
                    $("#myModal").modal("show");
                });
            });

            $("#modal-content").on("submit", "form", function (e) {
                e.preventDefault();
                var form = $(this);
                var url = form.attr("action");
                var formData = form.serialize();

                $.post(url, formData, function (data) {
                    $("#myModal").modal("hide");
                    location.reload();
                });
            });


            $(".details-link, .delete-link, .create-link, .create-lookup-link").click(function (e) {
                e.preventDefault();
                var url = $(this).data("url");

                $.get(url, function (data) {
                    $("#modal-content").empty();
                    $("#modal-content").html(data);
                    $("#myModal").modal("show");
                });
            });
        });
    </script>



}